<dom-module id="co-file-upload">
    <template>
        
    </template>
</dom-module>
<script>
    Polymer({
        is: 'co-file-upload',
        properties: {
            
        }
    });
</script>