<!--
<co-radio data-id="rd1" name="gender" label="Male" checked></co-radio>
<co-radio data-id="rd2" name="gender" label="Female"></co-radio>
-->

<dom-module id="co-radio">
  <template>
    <div class="radio-control">
      <input id$="{{dataId}}" name="{{name}}" value="{{label}}" type="radio" on-tap="_onSelect" checked$="{{checked}}"/>
      <label for$="{{dataId}}">{{label}}</label>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-radio',
    properties: {
      dataId: {
        type: String,
        value: ''
      },
      name: {
        type: String,
        value: ''
      },
      label: {
        type: String,
        value: ''
      },
      checked: {
        type: Boolean,
        value: false
      }
    },
    _onSelect(e) {
      this.fire('co-radio-value-changed', e.target.value);
    }
  });
</script>