<dom-module id="co-html-render">
  <template>
    <div class="html-render"></div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-html-render',
    properties:{
      html: {
        type: String,
        observer: '_onHtmlReceived'
      }
    },
    _onHtmlReceived(){
      this.querySelector('.html-render').innerHTML = this.html;
    }
  });
</script>