<dom-module id="co-button">
    <template>
        <input type="button" title="{{label}}" class$="btn btn-{{type}} btn-{{size}} {{classes}}" value="{{label}}" on-tap="_onTap"/>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'co-button',
        properties: {
            size:{
                type: String,
                value: 'medium'
            },
            type:{
                type: String,
                value: 'default'
            },
            label:{
                type: String,
                value: 'Button'
            },
            classes: String
        },
        _onTap(){
            this.fire('btn-click');
        }
    });
</script>