<dom-module id="co-currency">
  <template>
   <span>{{formattedValue}}</span>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-currency',
    properties: {
      value: {
        type: Number,
        observer: '_valueChanged'
      },
      currency: {
        type: String,
        value: 'INR'
      },
      locale: {
        type: String,
        value: 'en-IN'
      },
      formattedValue: Number
    },
    _valueChanged(value){
      if(isNaN(value)){
          console.error('Value is not a valid Number');
      }
      this.formattedValue = value.toLocaleString(this.locale, {currency: this.currency, style: "currency"});
    }
  });
</script>
