<dom-module id="co-panel">
    <template>
        <div class$="bg-white panel mar-b-20 {{type}}">
              <div class="panel-header flex flex-space-between pad-10 separator">
                 <span class="panel-title font-bold uppercase">{{headerTitle}}</span>
                 <div class="panel-tool">
                     <content select=".panel-action"></content>
                 </div>
              </div>
              <div class="panel-data">
                 <content select=".panel-content"></content>
              </div>
              <template is="dom-if" if="{{isFooter}}">
                  <div class="panel-footer flex flex-space-between pad-10 separator">
                      <content select=".panel-footer-content"></content>
                  </div>
              </template>
           </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'co-panel',
        properties: {
            type: {
                type: String,
                value: 'panel-primary'
            },
            isFooter: {
                type: Boolean,
                value: false
            },
            headerTitle: {
                type: String,
                value: ''
            }
        }
    });
</script>
