<dom-module id="co-date-picker">
  <template>
    <div class="input-group date-picker">
      <template is="dom-if" if="{{label}}">
        <label for$="[[id]]" class="input-label">{{label}}</label>
      </template>
      <input id$="[[id]]" class="input-control" type="date" value="{{value}}" disabled$="{{disabled}}" min="{{min}}"
             max="{{max}}"/>
      <div></div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-date-picker',
    properties: {
      id: {
        type: String,
        value: ''
      },
      label: {
        type: String,
        value: ''
      },
      value: {
        type: String,
        value: '2017-06-01'
      },
      disabled: {
        type: Boolean,
        value: false
      },
      min: {
        type: String,
        value: ''
      },
      max: {
        type: String,
        value: ''
      }
    }
  });
</script>