<dom-module id="co-date">
  <template>
    <span>{{formattedDate}}</span>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-date',
    properties: {
      value: {
        type: String,
        observer: '_valueChanged'
      },
      locale: {
        type: String,
        value: 'en-IN'
      },
      options: {
        type: Object,
        value: () => {
          return {month: '2-digit', year: 'numeric', day: '2-digit'};
        }
      },
      formattedDate: Number
    },
    _valueChanged(value){
      this.formattedDate = new Date(value).toLocaleDateString(this.locale, this.options);
    }
  });
</script>
