<link rel="import" href="../co-checkbox/co-checkbox.html"/>
<link rel="import" href="../co-html-render/co-html-render.html"/>

<dom-module id="co-data-table">
  <template>
    <div class$="bg-white table {{classes}}">
      <div class="table-header">
        <div class="table-row">
          <template is="dom-if" if="{{multiSelect}}">
            <div class="table-cell">
              <co-checkbox id="selectAll"></co-checkbox>
            </div>
          </template>
          <template is="dom-repeat" items="{{column}}">
            <div class="table-cell" data-hide$="{{item.hideOn}}">
              <template is="dom-if" if="{{item.sortable}}">
                <span class="sortable" on-tap="_sort">{{item.title}}</span>
              </template>
              <template is="dom-if" if="{{!item.sortable}}">
                {{item.title}}
              </template>
            </div>
          </template>
        </div>
      </div>
      <div class="table-body">
        <template is="dom-repeat" items="{{data}}" as="row">
          <div class="table-row" id={{index}} on-tap="_rowSelect">
            <template is="dom-if" if="{{multiSelect}}">
              <div class="table-cell">
                <co-checkbox id={{index}}></co-checkbox>
              </div>
            </template>
            <template is="dom-repeat" items="{{column}}" as="cell">
              <template is="dom-if" if="{{cell.html}}">
                <div class="table-cell">
                <co-html-render html="{{_cellValue(row, cell.map)}}"></co-html-render>
                </div>
              </template>
              <template is="dom-if" if="{{!cell.html}}">
                <div class="table-cell">
                  {{_cellValue(row, cell.map)}}
                </div>
              </template>
            </template>
          </div>
        </template>
      </div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-data-table',
    properties: {
      column: {
        type: Array,
        value: () => []
      },
      data: {
        type: Array,
        value: () => []
      },
      multiSelect: {
        type: Boolean,
        value: false
      },
      sortedColumn: {
        type: String,
        value: ''
      },
      sortedColumnMap: {
        type: String,
        value: ''
      },
      isDesc: {
        type: Boolean,
        value: false
      },
      classes: {
        type: String,
        value: ''
      }
    },
    _cellValue(row, map){
      return row[map];
    },
    _rowSelect(e){
      this.fire('co-data-table-row-select', e.model.__data__.row);
    },
    _sort(e){
      const column = e.model.__data__.item;
      const sortColumn = column.title;
      this.sortedColumnMap = column.map;
      if (column && column.sortable) {
        if (this.sortedColumn === sortColumn) {
          this.set('isDesc', !this.isDesc);
        } else {
          this.set('sortedColumn', sortColumn);
          this.set('isDesc', false);
        }
      }
      this.fire('co-data-table-sort', {
        column: this.sortedColumn,
        type: this.isDesc ? 'desc' : 'asc'
      });

      /*const sortBy = e.model.__data__.item.map;
       const sortedData = this.data.sort(function(a, b) {
       var nameA = a[sortBy].toUpperCase();
       var nameB = b[sortBy].toUpperCase();
       if (nameA < nameB) {
       return -1;
       }
       if (nameA > nameB) {
       return 1;
       }
       return 0;
       });

       this.fire('co-data-table-sort', e.model.__data__.item);*/
    }
  });
</script>