<!--
Author : Santosh S. Chaudhari.

<co-router header-element="page-title">
    <div data-path="/about"  data-component="about-page" data-page-title="About"></div>
    <div data-path="/contact/:id" data-component="contact-page" data-page-title="Contact"></div>
    <div data-path="*" data-redirect="/about"></div>
</co-router>
-->

<dom-module id="co-router">
    <template>
        <content></content>
    </template>
</dom-module>
<script>
   Polymer({
    is: 'co-router',
    properties: {
        /**
         * The 'isInitialized' property will set to true when router initialized for first time.
         *
         * @attribute isInitialized
         * @type Boolean
         */
        isInitialized: {
            type: Boolean,
            value: false
        },
        /**
         * The 'browser' property is use to check the presence of Internet Explorer.
         *
         * @attribute browser
         * @type Object
         */
        browser: {
            type: Object,
            value: function () {
                return {
                    isIE : 'ActiveXObject' in window,
                    isEdge : !!window.navigator.userAgent.match(/Edge/)
                }
            }
        },
        /**
         * The 'previousUrl' property will hold the url and its parameters of previous route.
         *
         * @attribute previousUrl
         * @type Object
         */
        previousUrl: {
            type: Object,
            value: function () {
                return {}
            }
        },
        /**
         * The 'loadingRoute' property will hold the instance of the next route.
         *
         * @attribute loadingRoute
         * @type Object
         */
        loadingRoute: Object,
        /**
         * The 'currentRoute' property will hold the instance of the active route.
         *
         * @attribute currentRoute
         * @type Object
         */
        currentRoute: Object,
        /**
         * The 'previousRoute' property will hold the instance of the old route.
         *
         * @attribute previousRoute
         * @type Object
         */
        previousRoute: Object,
        /**
         * The 'headerElement' property will hold the id of an element in which you want to display the page title.
         *
         * @attribute headerElement
         * @type String
         */
        headerElement: {
            type: String,
            value: ''
        }
    },
    listeners: {
        '_goToPage': '_redirectToPage'
    },
    attached() {
        if(this.isInitialized) {
            return;
        }
        this.isInitialized = true;
        this.stateChangeHandler = this._stateChanged.bind(null, this);
        window.addEventListener('popstate', this.stateChangeHandler, false);
        if (this.browser.isIE || this.browser.isEdge) {
            window.addEventListener('hashchange', this.stateChangeHandler, false);
        }
        this._stateChanged(this);
    },
    detached() {
        window.removeEventListener('popstate', this.stateChangeHandler, false);
        if (this.browser.isIE || this.browser.isEdge) {
            window.removeEventListener('hashchange', this.stateChangeHandler, false);
        }
    },
    /**
     * A Function is a listener, Fire the listener '_goToPage' with route name from any component to change the route.
     * @typedef {(function)} _redirectToPage
     * * @param { Object } e - Event.
     * * @param { Object } query - hold the page name and replace parameter.
     *
     * this.fire('_goToPage', {page: '/about'});
     */
    _redirectToPage(e, query) {
        this._goTo(query.page, query.options);
    },
    /**
     * A Function will navigate to the initial route.
     * @typedef {(function)} _goTo
     * * @param { String } path - Route Name ('/about').
     * * @param { Object } opt - {replace: true | false}.
     */
    _goTo(path, opt) {
        var currentState = window.history.state;
        if (opt && opt.replace === true) {
            window.history.replaceState(currentState, null, '#' + path);
        } else {
            window.history.pushState(currentState, null, '#' + path);
        }
        try {
            var popstateEvent = new PopStateEvent('popstate', {
                bubbles: false,
                cancelable: false,
                state: currentState
            });

            if ('dispatchEvent_' in window) {
                window.dispatchEvent_(popstateEvent);
            } else {
                window.dispatchEvent(popstateEvent);
            }
        } catch(error) {
            var fallbackEvent = document.createEvent('CustomEvent');
            fallbackEvent.initCustomEvent('popstate', false, false, { state: currentState });
            window.dispatchEvent(fallbackEvent);
        }
    },
    /**
     * A Function will execute when location state changed.
     * @typedef {(function)} _stateChanged
     * * @param { Object } router - Hold the instance of router.
     */
    _stateChanged(router) {
        var urlObj = router._parseUrl(window.location.href);
        router.previousUrl = urlObj;

        var route = router.firstElementChild;
        while (route) {
            var currentRoute = route.getAttribute('data-path');
            if (route.tagName === 'DIV' && router._checkRoute(currentRoute, urlObj.path)) {
                router._renderRoute(route, urlObj);
                return;
            }
            route = route.nextElementSibling;
        }
    },
    /**
     * A Function will check whether routing path and URL path are same.
     * @typedef {(function)} _checkRoute
     * * @param { String } routePath - Route path.
     * * @param { String } urlPath - URL path.
     */
    _checkRoute(routePath, urlPath) {
        if (routePath === urlPath || routePath === '*') {
            return true;
        }
        return this._matchRouteWithUrl(routePath.split('/'), 1, urlPath.split('/'), 1);
    },
    _matchRouteWithUrl(routeSeg, routeIndex, urlSeg, urlIndex, args) {
        var routeSegment = routeSeg[routeIndex];
        var urlSegment = urlSeg[urlIndex];

         if (typeof routeSegment === 'undefined' || typeof urlSegment === 'undefined') {
            return routeSegment === urlSegment;
        }

        if (routeSegment === urlSegment || routeSegment === '*' || routeSegment.charAt(0) === ':') {
            // store the path variable if we have a pathVariables object
            if (routeSegment.charAt(0) === ':' && typeof args !== 'undefined') {
                args[routeSegment.substring(1)] = urlSeg[urlIndex];
            }
            return this._matchRouteWithUrl(routeSeg, routeIndex + 1, urlSeg, urlIndex + 1, args);
        }
        return false;
    },
    _renderRoute(route, url) {
        if (route.hasAttribute('data-redirect')) {
            this._goTo(route.getAttribute('data-redirect'), {replace: true});
            return;
        }
        var eventDetail = {
            path: url.path,
            route: route,
            oldRoute: this.currentRoute,
            state: window.history.state
        };
        this.loadingRoute = route;
        if (route === this.currentRoute) {
            var routerData = this._componentModel(route, url, eventDetail);
           if(JSON.stringify(route.firstElementChild.routerData) !== JSON.stringify(routerData)){
               route.firstElementChild.routerData = routerData;
           }
         } else {
            this.fire('route-changed', { path: url.path });
            if(this.headerElement.length > 0) {
               this._setPageTitle(this.headerElement, route.getAttribute('data-page-title'));
            }
            this._attachedRouteComponent(route.getAttribute('data-component'), route, url, eventDetail);
        }
    },
    _attachedRouteComponent(component, route, url, detail) {
        var routeComponent = document.createElement(component);
        routeComponent.routerData = this._componentModel(route, url, detail);
        this._paintComponent(routeComponent);
    },
    _componentModel(route, url, detail) {
        detail.model = this._routeArguments(route.getAttribute('data-path'), url.path, url.search);
       return detail.model;
    },
    _paintComponent(component) {
        this.previousRoute = this.currentRoute;
        this.currentRoute = this.loadingRoute;
        this.loadingRoute = null;
        if (this.previousRoute) {
            this._cleanOldRoute(this.previousRoute);
        }
        this.currentRoute.appendChild(component);
    },
    _setPageTitle(element, title) {
        document.querySelector('#'+element).innerHTML =  title;
    },
    _cleanOldRoute(route) {
        if (route) {
            route.removeChild(route.firstChild);
        }
    },
    _routeArguments(routePath, urlPath, urlSearch) {
        var args = {};
        this._matchRouteWithUrl(routePath.split('/'), 1, urlPath.split('/'), 1, args);
        for (var property in urlSearch) {
            if (urlSearch.hasOwnProperty(property)) {
                args[property] = urlSearch[property];
            }
        }
        for (var arg in args) {
            args[arg] = this._validTypecast(args[arg]);
        }
        return args;
    },
    _validTypecast(val) {
        return (val === 'true') ? true : (val === 'false') ? false :
                (!isNaN(val) && val !== '' && val.charAt(0) !== '0') ? +val : decodeURIComponent(val);
    },
    _parseUrl(location) {
        var obj = {}, hashValue='';
        if (this.browser.isIE || this.browser.isEdge) {
            var anchor = document.createElement('a');
            anchor.href = location;
            hashValue = anchor.hash;
            obj.search = anchor.search;
        } else {
            var nativeUrl = new URL(location);
            hashValue = nativeUrl.hash;
            obj.search = nativeUrl.search;
        }

        obj.path = hashValue.substring(1);
        var searchIndex = obj.path.indexOf('?');
        if (searchIndex !== -1) {
            obj.search = this._queryStringToObj(obj.path.substring(searchIndex));
            obj.path = obj.path.substring(0, searchIndex);
        }
        return obj;
    },
    _queryStringToObj(str) {
        var pairs = str.slice(1).split('&');
        var result = {};
        pairs.forEach(function(pair) {
            pair = pair.split('=');
            result[pair[0]] = decodeURIComponent(pair[1] || '');
        });
        return JSON.parse(JSON.stringify(result));
    }
});

</script>