<dom-module id="app-container">
  <template>
    <co-nav data='[{
          "title": "Dashboard",
    "route": "#/home",
    "icon": "dashboard"
    },
    {
    "title": "UI CSS",
    "route": "#/css/typography",
    "icon": "laptop"
    }, {
    "title": "UI Components",
    "route": "#/components/button",
    "icon": "gift"
    }]'></co-nav>

    <div class="center container">

      <div class="mar-tb-15">
        <co-date-picker></co-date-picker>
      </div>

      <div class="mar-tb-15">
        <co-text-box type="password" label="Enter Password" place-holder="Enter Password"></co-text-box>
      </div>

      <div class="mar-tb-15">
        <co-chart type="bar"></co-chart>
      </div>

      <div class="mar-tb-15">
        <co-toggle></co-toggle>
      </div>
      <div class="mar-tb-15">
        <co-pagination total="100" per-page="15"></co-pagination>
      </div>
      <div class="mar-tb-15">
        <co-slider min="0" max="1000" model="{{sliderValue::value-changed}}" step="1"></co-slider>
      </div>
      <co-alert type="success" title="Success" message="Record updated successfullysdfdasfdadaf." show="true"
                close-text="Close"></co-alert>
      <div class="mar-tb-15">
        <co-button label="Submit" type="primary" on-btn-click="btnClick"></co-button>
      </div>
      <h3>Notification</h3>
      <div class="mar-tb-15">
        <co-notification count="5" badge-type="warning" icon="fa-bell" header-text="My Notification"
                         footer-text="View All" data='[{"name":"first"}, {"name":"second"}]'></co-notification>
      </div>
      <h3>Tooltip</h3>
      <div class="mar-tb-15">
        <co-tooltip text="This it top tooltip">Top Position</co-tooltip>
        <co-tooltip text="This it Bottom tooltip" position="bottom">Bottom Position</co-tooltip>
        <co-tooltip text="This it left tooltip" position="left">Left Position</co-tooltip>
        <co-tooltip text="This it right tooltip" position="right">Right Position</co-tooltip>
      </div>
      <div class="mar-tb-15">
        <co-checkbox data-id="selectAll" label="Select All"
                     model-value="{{checkBoxState::checkbox-state-changed}}"></co-checkbox>
      </div>
      <div class="mar-tb-15">
        <co-radio-group selected="{{gender}}">
          <co-radio data-id="rd1" name="gender" label="Male" checked></co-radio>
          <co-radio data-id="rd2" name="gender" label="Female"></co-radio>
        </co-radio-group>
        <p>Selected: {{gender}}</p>
      </div>

      <div class="mar-tb-15">
        <co-radio-group selected="{{confirm}}">
          <co-radio data-id="rd3" name="confirm" label="Yes" checked></co-radio>
          <co-radio data-id="rd4" name="confirm" label="No"></co-radio>
        </co-radio-group>
        <p>Selected: {{confirm}}</p>
      </div>

      <h3>Spinner</h3>
      <div class="mar-tb-15">
        <co-spinner></co-spinner>
      </div>

      <h3>Modal</h3>
      <div class="mar-tb-15">
        <co-modal modal-title="My Modal" modal-template="modal-example">
          <co-button type="primary"></co-button>
        </co-modal>
      </div>

      <h3>Data - Table</h3>
      <div class="mar-tb-15">
        <co-data-table
          column='[{"title": "First Name", "map": "fName", "sortable": true, "hideOn": "mobile", "html":"true"}, {"title": "Last Name", "map": "lName", "sortable": true}]'
          data='[{"fName":"<strong>Adam</strong> <i class=\"fa fa-refresh\"></i>", "lName":"Chaudhari"}, {"fName":"Santosh", "lName":"Chaudhari"}, {"fName":"John", "lName":"Chaudhari"}]'></co-data-table>
      </div>

      <h3>Currency</h3>
      <div class="mar-tb-15">
        <co-currency value="999999.85" currency="USD" locale="en-US"></co-currency>
      </div>

      <h3>Date</h3>
      <div class="mar-tb-15">
        <co-date value="Wed May 17 2017 13:59:29 GMT-0700 (PDT)"></co-date>
      </div>

      <h3>Tabs</h3>
      <div class="mar-tb-15">
        <co-tabs selected="1" data='[{
          "name": "Spinner",
          "component": "co-spinner",
          "props": {
            "type": "success"
          }
        },
          {
            "name": "Button",
            "component": "co-button",
            "props": {
              "type": "warning"
            }
          },
          {
            "name": "Button2345",
            "component": "co-button",
            "props": {
              "type": "warning"
            }
          }]'></co-tabs>
      </div>

      <h3>Drop Down</h3>
      <div class="mar-tb-15">
        <co-drop-down data='[{"value": "abc"}, {"value": "pqr"}, {"value": "xyz"}]'></co-drop-down>
      </div>

    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'app-container',
    properties: {
      checkBoxState: {
        type: Boolean,
        value: false
      },
      sliderValue: {
        type: Number,
        value: 100
      },
      gender: {
        type: String,
        value: 'Male'
      },
      confirm: {
        type: String,
        value: 'Yes'
      }
    },
    listeners: {
      'co-slider-value-changed': 'sliderChanged',
      'co-pagination-active-page': 'pageChanged',
      'animation-complete': 'animationCompleted'
    },
    animationCompleted(){
      // alert('Hiii')
    },
    radioState(e, value){
      console.log('Gender:', value);
    },
    btnClick(){
      console.log('Button Clicked');
    },
    sliderChanged(e, value){
      this.sliderValue = value;
      console.log(this.sliderValue);
    },
    pageChanged(e, value){
      console.log('PAGE =>', value);
    }
  });
</script>
