<dom-module id="co-toggle">
    <template>
        <label class="toggle-switch">
            <input type="checkbox"  checked="{{state::change}}" />
            <span class="toggle-slider round"></span>
        </label>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'co-toggle',
        properties: {
          state: {
            type: Boolean,
            value: false
          }
        },
      listeners: {
        'change': '_onChange'
      },
      _onChange(e){
       this.fire('co-toggle-state-changed', e.target.checked);
      }
    });
</script>