<dom-module id="co-spinner">
  <template>
    <template is="dom-if" if="{{visible}}">
        <div class="bg-white pad-20 text-center">
           <span class$="show-inline-block spinner {{size}} {{type}}"></span>
       </div>
    </template>
  </template>
</dom-module>
<script>
    Polymer({
        is: 'co-spinner',
        properties: {
            visible: {
                type: Boolean,
                value: true
            },
            type: String,
            size: String
        }
    });
</script>