<dom-module id="co-nav">
  <template>
    <nav>
      <div class="center container">
        <ul>
          <template is="dom-repeat" items="{{data}}">
            <li class$="{{computedClass(item.title, selected)}}">
              <a href$="{{item.route}}">
                <i class$="fa fa-{{item.icon}}"></i>
                <span>{{item.title}}</span>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </nav>
    <div class="center container">
      <content></content>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-nav',
    properties: {
      data: {
        type: Array,
        value: []
      },
      selected: String
    },
    computedClass(route, selected){
      return route == selected ? 'active' : '';
    }
  });
</script>
