<dom-module id="co-notification">
  <template>
    <div class$="notification show-inline-block {{activeClass}}">
      <div class="notify-icon" on-tap="openNotification">
        <i class$="fa {{icon}}"></i>
        <span class$="badge badge-{{badgeType}}">{{count}}</span>
      </div>
      <div class="notify-box">
        <div class="font-bold pad-10">
          {{headerText}}
        </div>
        <div class="notify-content">
          <ul>
            <template is="dom-repeat" items="{{data}}">
              <li on-tap="notifyItemSelected">{{item.name}}</li>
            </template>
          </ul>
        </div>
        <button class="button-as-link btn-block pad-10" on-tap="footerClicked">{{footerText}}</button>
      </div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-notification',
    properties: {
      icon: {
        type: String,
        value: ''
      },
      badgeType: {
        type: String,
        value: ''
      },
      data: {
        type: Array,
        value: () => []
      },
      headerText: {
        type: String,
        value: ''
      },
      footerText: {
        type: String,
        value: ''
      },
      activeClass: {
        type: String,
        value: ''
      },
      count: {
        type: Number,
        value: 0
      }
    },
    openNotification(){
     if(this.activeClass.length>0){
       this.activeClass='';
     }else{
       this.activeClass='active';
     }
    },
    notifyItemSelected(e){
      const model = e.model.__data__.item;
      this.fire('co-notification-item-selected', model);
    },
    footerClicked(){
      this.fire('co-notification-footer-clicked');
    }
  });
</script>