<dom-module id="co-list-view">
  <template>
    <div class="list-view">
      <ul>
        <template is="dom-repeat" items={{data}} initial-count="true">
          <li on-tap="listItemSelected" class$="{{computedClass(item.name, active)}}">
            <div class="list-item capitalize">
              <template is="dom-if" if="{{item.iconClass}}">
                <i class$="fa {{item.iconClass}}"></i>
              </template>
              <template is="dom-if" if="{{item.link}}">
                <a href="{{item.link}}">{{item.name}}</a>
              </template>
              <template is="dom-if" if="{{!item.link}}">
                {{item.name}}
              </template>
            </div>
            <template is="dom-if" if="{{item.count}}">
              <div class$="badge badge-{{item.countType}}">{{item.count}}</div>
            </template>
          </li>
        </template>
      </ul>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-list-view',
    properties: {
      data: {
        type: Array,
        value: () => [{
          "name": "Inbox",
          "iconClass": "fa-refresh",
          "count": 10,
          "countType": "primary",
          "link": "http://google.com/"
        }]
      },
      active: {
        type: String,
        value: ''
      }
    },
    listItemSelected(e){
      const model = e.model.__data__.item;
      this.fire('list-item-selected', model);
    },
    computedClass(route, selected){
      return route == selected ? 'active' : '';
    }
  });
</script>