<!--
    <co-checkbox data-id="selectAll" model-value="{{checkBoxState::checkbox-state-changed}}"></co-checkbox>
     1. checkBoxState is the property in which u will get the checkbox state
-->

<dom-module id="co-checkbox">
  <template>
    <div class="checkbox-control">
      <input id$="{{dataId}}" type="checkbox" checked="{{modelValue::change}}"/>
      <label for$="{{dataId}}">{{label}}</label>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-checkbox',
    properties: {
      dataId: {
        type: String,
        value: ''
      },
      label: {
        type: String,
        value: ''
      },
      modelValue: {
        type: Boolean,
        value: false
      }
    },
    listeners: {
      'change': '_onChange'
    },
    _onChange(e){
      this.fire('checkbox-state-changed', e.target.checked);
    }
  });
</script>