<dom-module id="modal-example">
  <template>
    <h3>Terms and condition</h3>
    <p>Lorem ipsum is a placeholder text (filler text) in publishing and graphic design. It is used to demonstrate the
      graphics elements of a document, such as font, typography, and layout. ... Lorem ipsum dolor sit amet, consectetur
      adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="text-center pad-t-15">
      <co-button type="success" on-tap="closeModal" label="Ok"></co-button>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'modal-example',
    properties: {},
    closeModal(){
      this.fire('close-modal');
    }
  });
</script>