<dom-module id="co-tabs">
  <template>
    <div class="tabs">
      <div class="tab-nav">
        <ul>
          <template is="dom-repeat" items="{{data}}">
            <li class="ellipsis" data-component="{{item.component}}" on-tap="_onTabSelection"
                class$="{{computedClass(index, selected)}}">
              {{item.name}}
            </li>
          </template>
        </ul>
      </div>
      <div class="tab-data pad-15"></div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-tabs',
    properties: {
      selected: {
        type: Number,
        value: 0
      },
      currentTab: Object,
      previousTab: Object,
      data: {
        type: Array,
        value: () => []
      }
    },
    observers: [
      '_renderTabs(data)'
    ],
    _renderTabs(data){
      const model = data[this.selected];
      this._loadTab(model.name, model.component, model.props);
    },
    _onTabSelection(e){
      if (e.model.__data__.index === this.selected) {
        return;
      }
      this.selected = e.model.__data__.index;
      const model = e.model.__data__.item;
      this._loadTab(model.name, model.component, model.props);
    },
    _loadTab(tab, component, props){
      this.fire('co-tab-selected', tab);

      const componentHolder = this.$$('.tab-data');
      if (componentHolder.firstChild) {
        componentHolder.removeChild(componentHolder.firstChild);
      }
      const componentTemplate = document.createElement(component);
      if (Object.hasOwnProperty(props)) {
        for (property in props) {
          if (props[property]) {
            componentTemplate[property] = props[property];
          }
        }
      }
      componentHolder.appendChild(componentTemplate);
    },
    computedClass(index, selected){
      return index == selected ? 'active' : '';
    }
  });
</script>