<!--
     <co-slider model="{{sliderValue::value-changed}}"></co-slider>
     1. sliderValue is the property in which u will get the slider value
-->

<dom-module id="co-slider">
  <template>
    <div class="relative co-slider-wrapper">
      <span class="slider-tooltip absolute bg-primary color-white text-center font-bold">{{model}}</span>
      <input title="{{title}}" type="range" min="{{min}}" max="{{max}}" value="{{model::input}}" step="{{step}}"/>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-slider',
    properties: {
      min: Number,
      title: String,
      max: Number,
      model: Number,
      leftPos: {
        type: Number,
        computed: 'calculateLeftPost(model, max)'
      },
      step: {
        type: Number,
        value: 1
      },
      left: {
        type: Number,
        value: 50
      }
    },
    listeners: {
      'input': '_onValueChanged'
    },
    calculateLeftPost(model, max){
      return ((model * 100) / max);
    },
    _onValueChanged() {
      this.fire('co-slider-value-changed', this.model);
    }
  });
</script>
