<dom-module id="co-tooltip">
  <template>
        <span data-tooltip$="{{text}}" data-pos$="{{position}}">
            <content></content>
        </span>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-tooltip',
    properties: {
      text: {
        type: String,
        value: ''
      },
      position: {
        type: String,
        value: 'top'
      }
    }
  });
</script>