<dom-module id="co-drop-down">
  <template>
    <div class$="select-control {{classes}}">
      <select on-change="_valueChanged" disabled="{{disabled}}">
        <template is="dom-repeat" items="{{data}}">
          <option value="{{item.value}}">{{item.value}}</option>
        </template>
      </select>
      <span class="select-value">{{selected}}</span>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-drop-down',
    properties: {
      data: {
        type: Array,
        value: () => [],
        observer: '_dataReceived'
      },
      selected: {
        type: String,
        value: ''
      },
      disabled: {
        type: Boolean,
        value: false
      },
      classes: {
        type: String,
        value: ''
      }
    },
    _dataReceived(){
      if (this.data && this.data.length > 0) {
        this.selected = this.data[0].value;
        this.fire('drop-down-value-changed', this.selected);
      }
    },
    _valueChanged(e){
      this.selected = this.data[e.target.selectedIndex].value;
      this.fire('drop-down-value-changed', this.selected);
    }
  });
</script>