<dom-module id="co-pagination">
  <template>
    <div class="pagination">
      <ul>
        <template is="dom-if" if="{{firstLast}}">
          <li class$="{{firstPrevDisabled}}" on-tap="_firstPage">{{firstText}}</li>
        </template>
        <template is="dom-if" if="{{prevNext}}">
          <li class$="{{firstPrevDisabled}}" on-tap="_prevPage">{{prevText}}</li>
        </template>
        <template is="dom-repeat" items="{{_generateList(total, perPage)}}">
          <li on-tap="_selectPage" class$="{{_setActive(active, item)}}">{{item}}</li>
        </template>
        <template is="dom-if" if="{{prevNext}}">
          <li class$="{{nextLastDisabled}}" on-tap="_nextPage">{{nextText}}</li>
        </template>
        <template is="dom-if" if="{{firstLast}}">
          <li class$="{{nextLastDisabled}}" on-tap="_lastPage">{{lastText}}</li>
        </template>
      </ul>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-pagination',
    properties: {
      total: {
        type: Number,
        value: 0
      },
      perPage: {
        type: Number,
        value: 0
      },
      firstLast: {
        type: Boolean,
        value: true
      },
      firstPrevDisabled: {
        type: String,
        value: ''
      },
      firstText: {
        type: String,
        value: 'First'
      },
      lastText: {
        type: String,
        value: 'Last'
      },
      nextLastDisabled: {
        type: String,
        value: ''
      },
      prevNext: {
        type: Boolean,
        value: true
      },
      prevText: {
        type: String,
        value: 'Prev'
      },
      nextText: {
        type: String,
        value: 'Next'
      },
      active: {
        type: Number,
        value: 1
      },
      pageTotal: {
        type: Number,
        value: 0
      }
    },
    attached(){
      this._makeDisabled();
    },
    _generateList(total, perPage) {
      this.pageTotal = Math.ceil(total / perPage);
      const arr = [];
      for (let i = 0; i < this.pageTotal; i++) {
        arr.push(i + 1);
      }
      return arr;
    },
    _setActive(active, item) {
      return active === item ? 'selected' : '';
    },
    _selectPage(e){
      this.active = e.model.__data__.item;
      this._makeDisabled();
    },
    _firstPage(e){
      this.active = 1;
      this._makeDisabled();
    },
    _lastPage(e){
      this.active = this.pageTotal;
      this._makeDisabled();
    },
    _prevPage(e){
      this.active--;
      this._makeDisabled();
    },
    _nextPage(e){
      this.active++;
      this._makeDisabled();
    },
    _makeDisabled(){
      this.fire('co-pagination-active-page', this.active);
      this.firstPrevDisabled = (this.active === 1) ? 'disabled' : '';
      this.nextLastDisabled = (this.active === this.pageTotal) ? 'disabled' : '';
    }
  });
</script>
