<dom-module id="co-modal">
  <template>
    <div class="show-inline-block" on-tap="_openModal">
      <content></content>
    </div>
    <template is="dom-if" if="{{show}}">
      <div class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">{{modalTitle}}</div>
            <div class="modal-close" on-tap="_closeModal">×</div>
          </div>
          <div class="modal-body pad-15"></div>
        </div>
      </div>
    </template>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-modal',
    properties: {
      modalTitle: {
        type: String,
        value: ''
      },
      modalTemplate: {
        type: String,
        value: ''
      },
      modalData: {
        type: Object,
        value: () => {
        }
      },
      show: {
        type: Boolean,
        value: false
      },
      modalPageHolder: {
        type: Object,
        value: () => {
        }
      }
    },
    observers: ['_modalVisibility(show)'],
    listeners: {
      'close-modal': '_closeModal'
    },
    _modalVisibility(show) {
      if (show) {
        this.async(function () {
          this.modalPageHolder = this.$$('.modal-body');
          const template = this.modalTemplate;
          const modalTemplate = document.createElement(template);
          modalTemplate.data = this.modalData;
          this.modalPageHolder.appendChild(modalTemplate);
        }.bind(this), 0);
      }
    },
    _openModal(e){
      this.show = true;
      this.toggleClass('overflow-hidden', true, document.body);
      this.fire('co-modal-opened');
    },
    _closeModal(e){
      this.show = false;
      this.modalPageHolder.removeChild(this.modalPageHolder.firstChild);
      this.toggleClass('overflow-hidden', false, document.body);
      this.fire('co-modal-closed');
    }
  });
</script>