<link rel="import" href="../co-radio/co-radio.html"/>

<dom-module id="co-radio-group">
  <template>
      <content></content>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-radio-group',
    properties: {
        selected: {
          type: String,
          value: '',
          notify: true
        }
    },
    listeners: {
      'co-radio-value-changed': '_onValueChanged'
    },
    _onValueChanged(e, value) {
      this.selected = value;
    }
  });
</script>

