<!--
     <co-text-box model="{{textValue::value-changed}}"></co-text-box>
     1. textValue is the property in which u will get the input value
-->

<dom-module id="co-text-box">
  <template>
    <div class="input-group">
      <template is="dom-if" if="{{label}}">
        <label for$="[[id]]" class="input-label">{{label}}</label>
      </template>
      <input id$="[[id]]" type="{{type}}" placeholder="{{placeHolder}}" class$="input-control {{classes}}"
             value="{{model::input}}" disabled$="{{disabled}}"/>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-text-box',
    properties: {
      type: {
        type: String,
        value: 'text'
      },
      label: {
        type: String,
        value: ''
      },
      id: {
        type: String,
        value: ''
      },
      placeHolder: {
        type: String,
        value: ''
      },
      classes: {
        type: String,
        value: ''
      },
      validate: {
        type: Boolean,
        value: false
      },
      pattern: {
        type: String,
        value: ''
      },
      model: {
        type: String,
        value: ''
      },
      valid: {
        type: Boolean,
        value: true
      },
      disabled: {
        type: Boolean,
        value: false
      }
    },
    listeners: {
      'input': '_onInput'
    },
    _onInput(e) {
      var val = e.target.value;
      var textField = this.firstElementChild;
      this.toggleClass('touched', true, textField);
      if (this.validate) {
        this._checkValidation(textField, val);
      } else {
        this.fire('value-changed', val);
      }
    },
    _checkValidation(textField, val){
      if (val.trim().length === 0) {
        this.toggleClass('invalid', true, textField);
      } else {
        this.toggleClass('invalid', false, textField);
        this.toggleClass('valid', true, textField);
        this.fire('value-changed', val);
      }
    }
  });
</script>