<dom-module id="co-alert">
  <template>
    <template is="dom-if" if="{{show}}">
      <div class$="alert flex flex-space-between align-center pad-10 mar-tb-10 {{type}}">
        <div class="icon">
          <i class$="fa {{_computeIcon(type)}}"></i>
        </div>
        <div class="message pad-lr-15">
          <strong class="capitalize">{{title}}</strong>
          <p>{{message}}</p>
        </div>
        <div class="close font-bold bg-white" on-tap="_onClose">×</div>
      </div>
    </template>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-alert',
    properties: {
      type: String,
      title: String,
      message: String,
      show: {
        type: Boolean,
        value: false,
        notify: true
      },
      _icon: {
        type: Object,
        value: {
          "success": "fa-check-circle",
          "warning": "fa-exclamation-triangle",
          "info": "fa-info-circle",
          "error": "fa-exclamation-circle"
        }
      }
    },
    _onClose(){
      this.show = false;
      this.fire('co-alert-hide');
    },
    _computeIcon(type) {
      return this._icon[type];
    }
  });
</script>