<script src="../../bower_components/chart.js/dist/Chart.min.js"></script>

<dom-module id="co-chart">
  <template>
    <div>
      <canvas id="chart" width="{{width}}" height="{{height}}"></canvas>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'co-chart',
    properties: {
      type: {
        type: String,
        value: 'line', //bar, line, horizontalBar, radar, pie, doughnut
      },
      width: {
        type: Number,
        value: '500'
      },
      height: {
        type: Number,
        value: '250'
      },
      labels: {
        type: Array,
        value: () => ["Jan", "Feb", "Mar", "Apr", "May"]
      },
      dataSet: {
        type: Array,
        value: () => [{
          label: 'Dataset 1',
          backgroundColor: "rgba(54,162,235,0.2)",
          borderColor: "rgba(54,162,235,1)",
          borderWidth: 0.5,
          hoverBackgroundColor: "rgba(54,162,235,0.4)",
          hoverBorderColor: "rgba(54,162,235,1)",
          data: [100, 200]
        }]
      },
      chartData: {
        type: Object,
        value: () => {
        },
        computed: '_buildChartData(labels, dataSet)'
      },
      responsive: {
        type: Boolean,
        value: false
      },
      showLines: {
        type: Boolean,
        value: true // Applicable in line chart only.
      },
      stacked: {
        type: Boolean,
        value: false
      },
      gridLines: {
        type: Boolean,
        value: true
      },
      chartTitle: {
        type: String,
        value: 'Chart Title'
      },
      showTitle: {
        type: Boolean,
        value: true
      },
      showLegend: {
        type: Boolean,
        value: true
      },
      legendPosition: {
        type: String,
        value: 'top'
      },
      tooltipEnabled: {
        type: Boolean,
        value: true
      },
      tooltipMode: {
        type: String,
        value: 'point' // 'point', 'nearest', 'index', 'dataset', 'x', 'y'
      },
      tooltipPosition: {
        type: String,
        value: 'nearest' // 'average', 'nearest'
      },
      animationDuration: {
        type: Number,
        value: 1000
      },
      animationEasing: {
        type: String,
        value: 'easeOutQuart', //'linear', 'easeInQuad', 'easeOutQuad', 'easeInOutQuad', 'easeInCubic', 'easeOutCubic','easeInOutCubic','easeInQuart', 'easeOutQuart'
        // 'easeInOutQuart','easeInQuint','easeOutQuint','easeInOutQuint','easeInSine','easeOutSine','easeInOutSine','easeInExpo','easeOutExpo','easeInOutExpo'
        // 'easeInCirc','easeOutCirc','easeInOutCirc','easeInElastic','easeOutElastic','easeInOutElastic','easeInBack','easeOutBack','easeInOutBack','easeInBounce','easeOutBounce','easeInOutBounce'
      },
      yAxisMin: {
        type: Number,
        value: 0
      },
      chart: {
        type: Object,
        value: () => {
        }
      }
    },
    _buildChartData(labels, dataSet){
      return {
        labels,
        datasets: dataSet
      }
    },
    attached() {
      let options = {
        showLines: this.type === 'line' ? this.showLines : false,
        responsive: this.responsive,
        legend: {
          display: this.showLegend,
          position: this.legendPosition
        },
        title: {
          display: this.showTitle,
          text: this.chartTitle
        },
        tooltips: {
          enabled: this.tooltipEnabled,
          mode: this.tooltipMode,
          position: this.tooltipPosition
        },
        animation: {
          duration: this.animationDuration,
          easing: this.animationEasing,
          onComplete: () => {
            this.fire('animation-complete');
          }
        }
      };

      if (this.type === 'bar' || this.type === 'horizontalBar' || this.type === 'line') {
        options.scales = {
          xAxes: [{
            stacked: this.stacked,
            gridLines: {
              display: this.gridLines
            }
          }],
          yAxes: [{
            stacked: this.stacked,
            gridLines: {
              display: this.gridLines
            },
            ticks: {
              min: this.yAxisMin
            }
          }]
        }
      }
      this.chart = new Chart(this.$.chart, {
        type: this.type,
        data: this.chartData,
        options: options
      });
    }
  });
</script>
